.flex-boxes
  %a.flex-box.flex-box-big{:href => "javascript:void(0)"}
    %i.fa.fa-sheqel.fa-3x
    %h1.flex-title.logo-color CareerBase
    %p Your Career Timeline
  %a.flex-box{:href => "javascript:void(0)"}
    %img{:alt => "", :src => "https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_1_dark.png"}
      %h1.flex-title Company Database
      %p Keep a personal database of companies that interest you
  %a.flex-box{:href => "javascript:void(0)"}
    %img{:alt => "", :src => "https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_4_dark.png"}
      %h1.flex-title Add Company
      %p Create a database of information on each company including, but not limited to, contact person, industry, address, company size.
  %a.flex-box.flex-box-big{:href => "javascript:void(0)"}
    %img{:alt => "", :src => "https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_2_dark.png"}
      %h1.flex-title Post Notes
      %p Keep detailed notes about each company in your database for future use, notes on salary, culture, mentorship program etc.
  %a.flex-box.flex-box-big{:href => "javascript:void(0)"}
    %img{:alt => "", :src => "https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_3_dark.png"}
      %h1.flex-title Create Application Timeline
      %p Save detailed, dated notes on the progress of your application as you go through the hiring process with each company.
