body {
  margin: 0;


  nav {
    height: 60px;
    background-color: #2C3240;
    overflow: hidden;

    ul {

      li {
        padding: 18px;
        display: inline;
        font-size: 1em;

        -webkit-transition: all 0.5s linear;
      	-moz-transition: all 0.3s linear;
      	-o-transition: all 0.3s linear;
      }

      h2 {
        font-weight: 400;
        -webkit-transition: all 0.1s ease-in;
        -moz-transition: all 0.1s ease-in;
        -o-transition: all 0.1s ease-in;
      }

      h2:hover {
        font-weight: 600;
        color: #2FABD0;
      }

      li:hover {
         background: #333;
         border-left: 5px solid #000;
         background-color: white;
         font-weight: 600;
         transition: 0.5s linear;
      }

      a:hover {
        color: #2FABD0;
      }

      .logo {
        font-size: 25px;
        color: #2FABD0;
        float: left;
        margin: 0 15px 0 0;
        font-weight: 600;
      }

      .leftNav {
        display: inline-block;
      }

      .rightNav {
        display: inline-block;
        float: right;
      }

      .name-tag {
        background-color: white;
        color:  #2FABD0;
      }
    }

  }


  #container {
    @include outer-container(100%);

    .nav {
      @include span-columns(12);

      background-color: #0A0815;
      height: 40px;
    }

    //////////////////////////////
   ///// FLEX BOX ///////////////
   /////////////////////////////

    .flex-boxes {
      @include span-columns(10);
      @include shift(1);
      $base-border-radius: 3px !default;
      $base-background-color: white !default;
      $dark-gray: #333 !default;
      $light-gray: #DDD !default;
      $base-font-color: $dark-gray !default;
      $flex-box-border-color: $light-gray;
      $flex-box-border: 1px solid $flex-box-border-color;
      $flex-box-background: lighten($light-gray, 10%);
      $flex-box-gutter: 0.4em;
      $flex-box-width: 18em;
      $flex-box-color: transparentize($base-font-color, 0.3);
      $flex-box-top-colors:
        tomato,
        #72BFBF,
        #92B1E3,
        #E3D743,
        #CCC,
        #F6C05C;

      @include clearfix;
      @include display(flex);
      @include justify-content(center);
      @include align-items(stretch);
      @include flex-wrap(wrap);
      clear: both;
      text-align: center;
      padding: 40px;

      .flex-box {
        @include transition (all 0.2s ease-in-out);
        @include flex(2 2 15em);
        @include align-self(stretch);
        background: $flex-box-background;
        border-radius: $base-border-radius;
        box-shadow: inset 0 0 1px $flex-box-border-color, 0 2px 4px darken($base-background-color, 10%);
        display: block;
        margin: $flex-box-gutter;
        padding: 2em 2em 3em 2em;
        text-decoration: none;

        @for $i from 1 to 7 { // assign colors from $flex-box-top-colors list
          &:nth-child(#{$i}) {
            $color-from-list: nth($flex-box-top-colors, $i);
            border-top: 6px solid $color-from-list;

            &:focus,
            &:hover {
              background-color: transparentize($color-from-list, 0.9);
            }
          }
        }

        img {
          display: block;
          height: 3em;
          margin-bottom: 2em;
          margin: auto;
          opacity: 0.4;
        }

        .flex-title {
          color: $flex-box-color;
          font-size: 1.2em;
          font-weight: 800;
          margin-bottom: 0.5em;
        }

        .logo-color {
          color: #2FABD0;
        }

        p {
          color: transparentize($flex-box-color, 0.1);
          line-height: 1.5em;
          margin: auto;
        }
      }

      .flex-box-big {
        @include flex(1 1 40em);
      }
    }

    ///////////////////////////
    ///// FORMS //////////////
    /////////////////////////

    .form-style {
      @include span-columns(6);
      @include shift(2);

      margin-top: 25px;
      height: 80%;

      input {
        border-bottom: 2px solid lightgray;
        border-left: 0;
        border-right: 0;
        border-top: 0;
        border-radius: 0;
      }

      h1 {
        color: #2FABD0;
        font-size: 1.5em;
        font-weight: 400;
      }

      label {
        font-weight: 400;
      }


      .btn {
        background-color: white;
        border: 1px solid lightgray;
        color: #3B3B3B;
        float: right;
        margin-top: 10px;
        font-weight: 400;
        border-radius: 2px;
      }

      .btn:hover {
        background-color: #2FABD0;
        transition: 0.5s linear;
      }

    }

  ///////////////////////////////
  ///// COMPANIES PAGE//////////
  /////////////////////////////

    .list-companies {
      @include span-columns(8);
      @include shift(2);

      margin-top: 25px;
      height: 80%;

      h2 {
        color: #2FABD0;
        font-size: 1.5em;
        font-weight: 400;
      }

      ul {
        border-bottom: 1px solid lightgray;
        li {
          list-style-type: none;
        }
      }
    }

    /////////////////////////////
    ////// COMPANY PROFILE /////
    ///////////////////////////

    .company-profile {
      @include span-columns(8);
      @include shift(2);

      margin-top: 25px;

      h1 {
        color: #2FABD0;
        font-size: 1.5em;
        font-weight: 400;
      }

      h2 {
        color: #2FABD0;
        font-size: 1.5em;
        font-weight: 400;
      }

      p {
        font-weight: 400;
        line-height: 0.8em;
        font-size: 1em;

      }

      .btn {
        background-color: white;
        border: 1px solid lightgray;
        color: #3B3B3B;
        float: right;
        margin-top: 0;
        font-weight: 400;
        border-radius: 3px;
      }

      .btn:hover {
        background-color: #2FABD0;
        transition: 0.5s linear;
      }

  //////////////////////////
  ////// NOTES ////////////
  ////////////////////////

      .note-form {
        margin-top: 15px;
      }

      .notes-heading {
        margin-top: 25px;
      }
      .note-body {
        ul {
          border: 1px solid lightgray;
          margin: 7px;
          width: 50%;
          box-shadow: 0 2px 10px 2px rgba(0, 0, 0, 0.2);
          li {
            padding: 3px;

          }
        }

        i {
          color: red;

        }

        .note-content {
          padding: 5px;
        }

        .timestamp {
          font-size: 0.2em;
          color: lightgray;
          font-style: italic;
          font-size: 0.875rem;
        }
      }
    }

  //////////////////////////
  ///// USER PROFILE //////
  ////////////////////////


    .user-profile {
      @include span-columns(8);
      @include shift(2);

      border: 1px solid lightgray;

      margin-top: 25px;

      h2 {
        color: #2FABD0;
        font-size: 1.5em;
        font-weight: 400;
      }

      img {
        @include span-columns(3 of 8);
        width: 100px;
      }

      ul {
        @include span-columns(5 of 8);
        line-height: 45px;
        font-family: Lato, 'san-serif';
        font-size: 1.2em;

        li {
          padding-bottom: 2px;
        }
      }

    }

  }

}
